.wine__list__item {
  display: flex;
  justify-content: space-between;
}

.wine__list__name--glass,
.wine__list__name--bottle > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  & > p:nth-child(1) {
    font-size: 1rem;
  }
  & > p:nth-child(2) {
    font-size: 14px;
  }
  @media screen and (min-width: 32rem) {
    & > p:nth-child(1) {
      font-size: 18px;
    }
    & > p:nth-child(2) {
      font-size: 14px;
    }
  }
}

.wine__list__name--bottle {
  display: flex;
  & > p {
    width: 50px;
    margin-right: 10px;
    @media screen and (min-width: 32rem) {
      margin-right: 0;
    }
  }
  & > div {
    width: fit-content;
    @media screen and (min-width: 64rem) {
      width: max-content;
    }
  }
}

.wine__list__price {
  display: flex;
  justify-content: space-around;
  width: 50%;
  @media screen and (min-width: 32rem) {
    width: 185px;
  }
}

.wine__list__price--bottle {
  width: fit-content;
  margin-left: 10px;
}

.wine__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

.wine__title {
  font-size: var(--font-size-medium);
}

.wine__category-name {
  font-size: var(--font-size-large);
  text-align: center;
}

.wine__volume {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 150px;
  font-size: 14px;

  @media screen and (min-width: 26.5rem) {
    width: 185px;
    font-size: 1rem;
  }
}
