.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin: 0 auto var(--gap--large) auto;
  color: var(--text-color);
  @media screen and (min-width: 64rem) {
    width: 100%;
    max-width: 50rem;
    align-items: normal;
  }
}

.menu__content {
  padding: 1.87rem;
  border: 1px solid var(--website-secondary-color);
}

.title__main,
.title__second {
  color: var(--website-secondary-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
  text-align: center;
  @media screen and (min-width: 64rem) {
    font-size: var(--font-size-title-desktop);
  }
}

.title__main {
  padding: var(--gap--small) 0 0 0;
  margin: var(--gap--large) auto 0 auto;
  @media screen and (min-width: 64rem) {
    padding: var(--gap--large) 0 0 0;
  }
}

.title__second {
  padding: 0 0 var(--gap--small) 0;
}

.description {
  color: var(--text-color);
  text-align: center;
  &:nth-child(5) {
    padding: 0 0 var(--gap--small) 0;
  }
}

.icon {
  margin: 0 auto;
  display: block;
  max-width: 9rem;
  @media screen and (min-width: 64rem) {
    max-width: 15rem;
  }
}
