.header__navigation {
  display: none;
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap--small);
  @media screen and (min-width: 48rem) {
    justify-content: center;
  }
  @media screen and (min-width: 64rem) {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-drop-down-menu);
  }
}

.header__content {
  display: flex;
  align-items: center;
  background-color: var(--header-background-transparent);
  justify-content: space-between;
  padding: 1rem 1rem;
  @media screen and (min-width: 64rem) {
    justify-content: center;
  }
}

.header__icon {
  fill: var(--website-secondary-color);
  transition: fill var(--transition);
  width: 2rem;
  height: 1.5rem;
  &:hover {
    fill: var(--website-secondary-color-hover);
  }
}
