.section {
  padding: 1rem 1rem var(--gap--small) 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--website-main-color);
  width: 100vw;
  color: var(--text-color);
}
