.menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap--large);
  align-items: center;
  @media screen and (min-width: 64rem) {
    width: 100%;
    max-width: 64rem;
    align-items: normal;
  }
}

.menu__buttons {
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  margin-bottom: var(--gap--large);
  @media screen and (min-width: 64rem) {
    max-width: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.menu__content {
  @media screen and (min-width: 48rem) {
    display: flex;
    justify-content: space-between;
    gap: var(--gap--small);
  }
}

.menu__select {
  position: relative;
  font-family: var(--font-primary);
  --border-size: 0.125rem;
  padding: 0.938rem;
  border: 0;
  background-color: transparent;
  color: var(--website-secondary-color);
  letter-spacing: 0.25em;
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  font-size: var(--font-size-medium);
  text-align: center;
  & > option {
    background-color: var(--header-background);
  }
}
