.menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap--large);
  align-items: center;
  @media screen and (min-width: 64rem) {
    width: 100%;
    max-width: 64rem;
    align-items: normal;
  }
}

.menu__buttons {
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  @media screen and (min-width: 64rem) {
    max-width: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.menu__content {
  @media screen and (min-width: 48rem) {
    display: flex;
    justify-content: space-between;
    gap: var(--gap--small);
  }
}

.dropdownMenu {
  visibility: hidden;
  border: 2px solid var(--website-secondary-color-hover);
  border-top: 0;
  max-height: 0;
  transition: max-height 0.8s ease-out;
  color: var(--website-secondary-color-hover);
  background-color: var(--header-background);
  padding: 0.938rem;
  & > li {
    padding: 0.25rem 0 0.25rem 0;
  }
  &.active {
    transition: max-height 1s ease;
    max-height: 500px;
    visibility: visible;
    transform: translateY(0);
  }
}
