.mobile-menu {
  display: flex;
  position: fixed;
  width: 0;
  flex-direction: column;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  transition: opacity 0.75s, visibility 0.75s, width 0.75s;
  overflow: hidden;
  background-color: var(--website-main-color);
  z-index: 4;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--font-size-drop-down-menu);
}

.mobile-menu--open {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
